{% extends "base.html" %}

{% block content %}
<div class="topbar-body white-text" style="color: rgb(34, 47, 84)">
    <span style="position: absolute; width: inherit; text-align: center;">
    Kayıt Ol
    </span>
    <button id="button_topbar_back" class="orange-button" style="z-index: 2; margin-left: 1rem; font-size: 1.5rem; width: 3rem; height: 3rem; padding: 0px;"onclick="window.location.href='{{ url_for('index') }}'">
        &lt;
    </button>
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <h1>Kayıt Ol</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}